{% extends 'layouts/default.njk' %}

{% block body %}

  <div class="wrapper">

    {% include 'partials/nav.njk' %}
    {% include 'partials/snippets.njk' %}

    <sction class="snippet-content">
      <div class="actions">
        <a href="#" class="edit">Editar</a>

        <form action="" method="POST">
          <button type="submit">Remover</button>
        </form>
      </div>

      <h1>{{snippet.title}}</h1>
      <div class="content">{{snippet.formattedContent | safe }}</div>
    </sction>
  </div>

{% endblock body %}
